---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const blogEntityType = {
  UPDATE: "UPDATE",
  POST: "POST"
};

// const projects = (await getCollection('projects')).sort(
//     (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
// );

// const posts = (await getCollection('posts')).sort(
//     (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
// );

const projects = await getCollection('projects')
const posts = await getCollection('posts')


projects.forEach(project => {
  project.type = blogEntityType.POST;
});

posts.forEach(post => {
  post.type = blogEntityType.UPDATE;
});

const blogEntities = [...projects, ...posts].sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);



---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title="Updates" description={SITE_DESCRIPTION} />
        <style>
        .layout-grid-container {
            display: grid;
            justify-items: center;
        }



        update {



            a:hover {
                color: var(--a-hover)
            }
            .date {
                color: var(--color-tx-muted);
                font-family: var(--date-fonts);
            }
            .title {
                margin: 0 0 0.1em;
                line-height: 1.2;
                font-family: var(--fancy-title-fonts);
                text-decoration: underline;
                text-underline-offset: 2px;
                margin-right: 2rem;
            }
        }

        .project-card {
            display: grid;
            padding: 1rem;
            grid-template-columns: 1fr 1fr;	
            border-radius: var(--radius-card);
            gap: 0.5em 0.75em;

            .project-image {
                grid-area: image;
                object-fit: cover;
                border-radius: var(--radius-univ);
                aspect-ratio: 1/1;
            }
            .project-textcontent {
                grid-area: textcontent;
                display: grid;
                align-content: center;
                color: inherit;
                -webkit-font-smoothing: antialiased;
                font-weight: 500;
                .title {
                    font-family: var(--fancy-title-fonts);
                    font-size: 56px;
                    line-height: 1.05em;
                }
                .date {
                    font-family: 'SourceCodePro';
                    color: var(--color-tx-muted);
                }

            }
        }

        post {
            &:nth-of-type(even) > .project-card {
                grid-template-areas: 'textcontent image';
                text-align: right;
            }		
            &:nth-of-type(odd) > .project-card {
                grid-template-areas: 'image textcontent';
                text-align: left;
            }
        }
        </style>
    </head>
    <body class="theme-dark">
        <Header title={SITE_TITLE} />
        <main class="layout-grid-container">



            <div class="updates">
                <ul>
                    {
                    blogEntities.filter(p => p.data.private !== true).map((blog_ent) => {
                        if (blog_ent.type == blogEntityType.POST) {
                            const prj = blog_ent
                            return (
                                <post>	
                                    <a href={`/${prj.slug}/`} class="project-card">
                                        <Image class="project-image" width={720} height={720} src={prj.data.heroImage} alt="" />
                                        <div class="project-textcontent">
                                            <header class="title">{prj.data.title}</header>
                                            <p class="date">
                                                <FormattedDate date={prj.data.pubDate} />
                                            </p>
                                        </div>
                                    </a>
                                </post>
                            )
                        } else if (blog_ent.type == blogEntityType.UPDATE) {
                            const update = blog_ent
                            return (
                                <update>
                                    <a class="update-item" href={`/${update.slug}/`}>
                                        <span class="date">{<FormattedDate date={update.data.pubDate} />}</span>
                                        <span class="title">{update.data.title}</span>
                                    </a>
                                </update>
                            )
                        }                       }
                    )}

                </ul>

            </div>

            <div class="projects">
                <ul>
                </ul>
            </div>
        </main>
        <Footer />
</html>
